*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
}
.img-initial {
  background-color: red;
  height: 700px;
  width: 700px;
  background-image: url(./assets/initial-image/initial.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.icon {
  position: absolute;
  color: #FF9400;
  bottom: 25%;
  left: 50%;
  translate: -50%;
  height: 60px;
  width: 60px;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  .img-initial {
    width: 300px;
    height: 300px;
    border-radius: none; 
    background-position: center;
    position: fixed;
  }
}

.img-home {
  background-image: url(./assets/home-image/horizontal.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}

.img-home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;
  background: linear-gradient(to bottom, transparent, #111);
  z-index: 2;
}

#corte-1,
#corte-3 {
  background-image: url(./assets/servises-image/corte-1.jpg);
  background-size: cover;
}

#corte-2,
#corte-4 {
  background-image: url(./assets/servises-image/corte-2.jpg);
  background-size: cover;
}

.anime {
  animation: move-up6 1s ease-in infinite alternate-reverse;
}

@keyframes move-up6 {
  to {
    transform: translateY(-18px);
  }
}
